body{
    margin: 0px;
    padding: 0px;
    background-image: url('./abs-1850926__340\ \(1\).jpg');
    color: aliceblue;
    font-family: cursive;
}
.left{
display: inline-block;
position: absolute;
top: 20px;
}
.mid{
 display: block;
 margin-left: 550px;
 margin-top: 25px;
 
}
.right{
display: inline-block;
position: absolute;
right: 20px;
top: 20px;
}
.navbar li{
    display: inline-block;
    list-style: none;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
}
.navbar li a:active , .navbar li a:hover{
   text-decoration: underline;
   color: rgb(11, 60, 102);
}
.img{
    width: 136px;
    height: 100px;
    fil
}
.left h3{
    text-align: center;
    line-height: 0px;
    
}
.left div{
    line-height: 0px;
}
.btn{
    size: 25px;
    filter: invert(100%);
    margin: 5px;
    padding: 2px;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(113, 113, 113);
}
.containor{
    margin-top: 160px;
    width: 55%;
    padding: 20px 20px;
    margin: auto;

}
.containor h1{
    text-align: center;
}
.form button{
    display: block;
    margin: auto;
}
.form input{
    border-radius: 10px;
    font-family: cursive;
    margin: 5px;
    text-align: center;
    width: 180px;
    display: inline-block;
}
.gender{
    margin: 0px;
    padding: 0px;
    width: 100px;
}
.form{
    border: 2px solid whitesmoke;
    padding: 50px;
    border-radius: 10px;
}   